@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 10px solid red; */
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 10px solid red; */
}

.container .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 0.5em;
}

.startButton {
    margin-top: 1em;
}

.startButtonObject {
    border: none;
    color: black;
    background-color: #1DB954;
    text-decoration: none;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 2em;
}

.startButtonObject:hover {
    cursor: pointer;
    animation: button-hover 0.7s forwards;
}

@keyframes button-hover {
    from { background-color: #1DB954; }
    to { background-color: #5ef593;}
}

.slogan {
    color: #1DB954;
}
